* {
    box-sizing: border-box;
    color: black;
    font-family: Arial;
    font-size: 1.1em;
}



aside {
    background-color: #000;
    grid-area: left;
}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
    border: dotted 1px white;
    padding: 30px;
}

#title {
  line-height: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
}

.head {
  background: Lavender;
}

.notes {
  background: Lavender;
  font-size: 18px;
}

#url {
  font-size: 10px;
}

header {
    /* pinned to top via "position: fixed"  */
    height: 60px;
    background: Purple;
    top: 0px;
    /* position: fixed; */
    width: calc(100vw);
    color: white
}


div {
    min-height: calc(350px);
    height: 500px;
}

nav {
    margin-top: 60px;
    height: 100px;
}


@media screen and (max-width: 700px) {
    body {
        grid-template-columns: auto;
        grid-template-areas:
           "main"
           "bottom";
    }
    header {
        left: 0px;
        width: 100vw;
    }
    aside, #upgrade {
        display: none;
    }
}
